{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form id="audit" method="POST" action="">
            <legend>Create new audit
                <button type="submit" class="btn btn-mini pull-right">
                    <i class="icon-ok"></i> Save
                </button>
            </legend>

            <div class="form-inline row input">
                {{ form_row( form.auditReference ) }}
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Field</th>
                        <th>Score</th>
                        <th></th>
                        <th>Weight</th>
                        <th>Reviewer's Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% set counter = 1 %}
                {% for section in audit.auditform.sections %}
                    <tr class="cisco-audit-section-row" section-id="{{ section.id }}">
                        <td colspan="6">Section {{ loop.index }}: {{ section.title }}</td>
                    </tr>
                    {% for field in section.fields %}
                        <tr class="cisco-audit-field-row" field-id="{{ field.id }}">
                            <td>{{ counter }}</td>
                            <td>
                                <a href="#" rel="tooltip" data-placement="top" title="{{ field.description  }}">
                                    <font color="#333333">{{ field.title }}</font>
                                </a>
                            </td>
                            <td class="cisco-audit-field-score">
                            {% set form = craue_cloneForm(scoreform) %}
                                <select class="span1 cisco-audit-score-selector" name="score[{{ field.id }}][value]"
                                        href="{{ path( 'cisco_auditfield_calculate_score' ) }}">
                                {% set ret = 'Options:'%}
                                {% for score, label in field.scores %}
                                    <option value="{{ score }}">
                                        {{ score }}
                                    </option>
                                    {% set ret = ret ~ '\n' ~ score ~ ' - ' ~ label %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="#" rel="tooltip" data-placement="top" title="{{ ret }}">
                                    <i class="icon-info-sign"></i>
                                </a>
                            </td>
                            <td class="cisco-audit-field-weight" value="{{ field.weight }}">
                                <div {% if field.flag == true %}data-field="{{ audit.auditform.flagLabel }}"{% endif %} data-value="{{ field.weight }}">{{ field.weight }}</div>
                            </td>
                            <td>
                                <textarea class="span4" name="score[{{ field.id }}][comment]"></textarea>
                            </td>
                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                    <tr class="cisco-audit-section-score-row" data-flag="false">
                        {% set sectionScore = get_resultforsection( audit, section ) %}
                        {% set sectionWeight = get_weightforsection( section )%}
                        <td colspan="2" style="text-align: right">Section's Score</td>
                        <td class="cisco-audit-section-score" value="{{ sectionScore }}">{{ sectionScore }} %</td>
                        <td></td>
                        <td class="cisco-audit-section-weight" value="{{ sectionWeight }}">{{ sectionWeight }}</td>
                        <td class="bar"></td>
                    </tr>
                {% endfor %}
                    <tr class="cisco-audit-score-row">
                        {#% set auditScore = get_resultforform( audit ) %#}
                        {% set auditWeight = get_weightforform( audit ) %}
                        <td colspan="2" style="text-align: right">Final Score</td>
                        <!-- auditScore is breaking and needs to be investigated -->
                        <td class="cisco-audit-score" value="100.00{#{ auditScore }#}">100.00 %{#{ get_resultforform( audit ) }#}</td>
                        <td></td>
                        <td class="cisco-audit-weight" value="{{ auditWeight }}">{{ auditWeight }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" data-foo="{{ audit.auditform.flagLabel }}">

    var flagLabel = '{{ audit.auditform.flagLabel }}';

</script>
{% endblock %}
