{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form id="audit" method="POST" action="">
            <legend>Create new audit
                <button type="submit" class="btn btn-mini pull-right">
                    <i class="icon-ok"></i> Save
                </button>
            </legend>

            <div class="form-inline">
                {#<label class="control-label">Reference: </label>#}
                {{ form_row( form.auditReference ) }}
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Field</th>
                        <th>Score</th>
                        <th>Weight</th>
                        <th>Reviewer's Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% set counter = 1 %}
                {% for section in audit.auditform.sections %}
                    <tr>
                        <td colspan="5">Section {{ loop.index }}: {{ section.title }}</td>
                    </tr>
                    {% for field in section.fields %}
                        <tr class="cisco-audit-field-row">
                            <td>{{ counter }}</td>
                            <td>{{ field.title }}</td>
                            <td class="cisco-audit-field-score">
                            {% set form = craue_cloneForm(scoreform) %}
                                <select class="span1 cisco-audit-score-selector" name="score[{{ field.id }}][value]" 
                                        href="{{ path( 'cisco_auditformfield_calculate_score', { 'id': field.id } ) }}">
                                {% for score, label in field.scores %}
                                    <option value="{{ score }}" data-tooltip="{{ label }}" class="tooltip">
                                    {{ score }}
                                    </option>
                                {% endfor %}
                            </td>
                            <td class="cisco-audit-field-weight">
                            {% if field.fatal == true %}
                                Involve Mgr
                            {% else %}
                                {{ field.weight }}
                            {% endif %}
                            </td>
                            <td>
                                <textarea class="span4" name="score[{{ field.id }}][comment]"></textarea>
                            </td>
                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                    <tr class="cisco-audit-section-row">
                        <td colspan="2" style="text-align: right">Section's Score</td>
                        <td class="cisco-audit-section-score">{{ attribute( audit, 'resultForSection', [ section ] ) }}</td>
                        <td class="cisco-audit-secction-weight">{{ section.weight }}</td>
                        <td class="bar"></td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="2" style="text-align: right">Final Score</td>
                        <td></td>
                        <td>{{ audit.totalWeight }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
{#
<script type="text/javascript">
    var routePatternCalculateScore = '{{ routePatternCalculateScore }}';
    $(function()
    {
        $( '.cisco-audit-score-selector' ).change(function()
        {
            var id = $( this ).attr( 'data-field-id' );
            var value = $( this ).val();
            var row = $( this ).closest( 'tr' );
            var weight = $( row ).find( '.cisco-audit-field-weight' ).html();
            var sectionScore;
            var sectionWeight;
            var resultRow = false;
            var allSiblings = $( row ).nextAll( 'tr' );
            
            for ( var it in allSiblings )
            {
                if ( $( allSiblings[it] ).hasClass( 'cisco-audit-section-row' ) )
                {
                    resultRow = allSiblings[it];
                    break;
                }
            }
        
            if ( resultRow )
            {
                var sectionScore = $( resultRow ).find( '.cisco-audit-section-score' ).html();
                var sectionWeight = $( resultRow ).find( '.cisco-audit-section-weight' ).html();
            }

            var url = routePatternCalculateScore.replace( '{id}', id );
            $.ajax(
            {
                url: url,
                dataType: 'json',
                data: { scoreData: value,
                        scoreWeight: weight,
                        sectionScore: sectionScore,
                        sectionWeight: sectionWeight },
                type: 'POST',
                error: function( response )
                {
                    console.log( 'error: ' + response );
                },
                success: function( response )
                {
                    console.log( 'success: ' + response );

                    $( '.cisco-audit-section-score' ).html( response.score );
                    $( '.bar' ).html( response.scoreData + "(" + response.fieldScore + ")- FW:" + response.fieldWeight + "- GW: " + response.sectionWeight );
                }
            });
        });
    });
</script>
#}
{% endblock %}
