{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form id="audit" method="POST" action="">
            <legend>Create new audit</legend>

            <div class="form-inline row input">
                {{ form_row( form.reference ) }}
            </div>

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%;">S.No.</th>
                        <th style="width: 40%;">Field</th>
                        <th style="width: 10%;">Score</th>
                        <th style="width: 5%;" colspan="2">Weight</th>
                        <th style="width: 40%;">Reviewer's Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% set counter = 0 %}
                {% set sections = audit.form.sections( false ) %}
                {% for section in sections %}
                    {% set fields = section.fields( false ) %}
                    {% if fields | length > 0 %}
                        {% set counter = counter + 1 %}
                        <tr class="cisco-audit-section-row" section-id="{{ section.id }}">
                            <td colspan="6">Section {{ section | position ( form ) }}: {{ section.title }}</td>
                        </tr>
                        {% set fcounter = 0 %}
                        {% for field in fields %}
                        <tr class="cisco-audit-field-row" field-id="{{ field.id }}">
                            <td>{{ field | position ( section ) }}</td>
                            <td>{{ field.title }}</td>
                            <td class="cisco-audit-field-score">
                            {% set form = craue_cloneForm(scoreform) %}
                                <select class="span1 cisco-audit-score-selector" name="score[{{ field.id }}][value]"
                                        href="{{ path( 'audit_field_calculate_score' ) }}">
                                {% set ret = field.description ~ '\n' %}
                                {% for choice, label in field.choices %}
                                    <option value="{{ choice }}">
                                        {{ choice }}
                                    </option>
                                    {% set ret = ret ~ '\n' ~ choice ~ ' - ' ~ label %}
                                {% endfor %}
                            </td>
                            <td>
                                <a rel="tooltip" data-placement="top" title="{{ ret }}" class="cisco-audit-field-view">
                                    <i class="icon-info-sign"></i>
                                </a>
                            </td>
                            <td class="cisco-audit-field-weight" value="{{ field.weight }}">
                                <div {% if field.flag == true %}data-field="{{ audit.form.flagLabel }}"{% endif %} data-value="{{ field.weight }}">{{ field.weight }}</div>
                            </td>
                            <td>
                                <textarea class="span4" name="score[{{ field.id }}][comment]"></textarea>
                            </td>
                        </tr>
                        <tr class="cisco-audit-desc-row info" style="display: none;">
                            <td></td>
                            <td colspan="5">
                                <div class="info">
                                    <h4 class="text-info">{{ field.description }}</h4>
                                    {% for choice, label in field.choices %}
                                    <p class="text-info">
                                        {{ choice }} - {{ label }}
                                    </p>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="cisco-audit-section-score-row" data-flag="false">
                        {% set sectionScore = get_resultforsection( audit, section ) %}
                        {% set sectionWeight = get_weightforsection( audit, section )%}
                        <td colspan="2" style="text-align: right">Section's Score</td>
                        <td class="cisco-audit-section-score" value="{{ sectionScore }}">{{ sectionScore }} %</td>
                        <td></td>
                        <td class="cisco-audit-section-weight" value="{{ sectionWeight }}">{{ sectionWeight }}</td>
                        <td class="bar"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                    <tr class="cisco-audit-score-row">
                        {% set auditWeight = get_weightforaudit( audit ) %}
                        <td colspan="2" style="text-align: right">Final Score</td>
                        <!-- can not get the audit score when first calling the form -->
                        <td class="cisco-audit-score" value="100.00">100.00 %</td>
                        <td></td>
                        <td class="cisco-audit-weight" value="{{ auditWeight }}">{{ auditWeight }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">

    var flagLabel = '{{ audit.form.flagLabel }}';

</script>
{% endblock %}
