{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block body %}
{{ parent() }}
<div class="container">
    <div class="span10 offset1">
        <legend>Audits
            <a class="btn btn-mini pull-right"
               href="{{ path( 'cisco_auditform_list' ) }}">
                <i class="icon-plus"></i> Create new Audit
            </a>
        </legend>
        <table class="table table-hover">
            <caption>List of completed Audits</caption>
            <thead>
                <tr>
                    <th>Case #</th>
                    <th>Engineer</th>
                    <th>Manager</th>
                    <th>Form</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
        {% for audit in audits %}
            {% set result = audit.totalResult %}
            <tbody>
                <tr>
                    <td>{{ audit.auditReference }}</td>
                    <td>{{ audit.auditingUser }}</td>
                    <td>{{ audit.controlUser }}</td>
                    <td>{{ audit.auditForm }}</td>
                    <td>
                    {% if audit.failed == true %}
                        <div class="text-warning">FAILED</div>
                    {% else %}
                        {{ result }}
                    {% endif %}
                    </td>
                    <td width="10%">
                        <a class="btn btn-mini"
                            href="{{ path( 'cisco_audit_view', { 'id': audit.id } ) }}">
                            <i class="icon-eye-open"></i> View
                        </a>
                    </td>
                </tr>
        {% else %}
                <tr>
                    <td colspan="6">
                        <p>Nothin yet dude</p>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}