{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<a href="{{ path( 'wgauditform_list' ) }}">Create new Audit</a>
    <table id="audit">
        <tr>
            <th>Case #</th>
            <th>Engineer</th>
            <th>Manager</th>
            <th>Form</th>
            <th>Score</th>
            <th></th>
        </tr>        
    {% for audit in audits %}
        <tr>
            <td>{{ audit.auditReference }}</td>
            <td>{{ audit.auditingUser }}</td>
            <td>{{ audit.controlUser }}</td>
            <td>{{ audit.auditForm }}</td>
            <td>{% if audit.failed == true %}
                    FAILED
                {% else %}
                    {{ audit.weightPercentage }}
                {% endif %}
            </td>
            <td>[ <a href="{{ path( 'wgaudit_view', { 'id': audit.id } ) }}">view</a> ]</td>             
        </tr>
    {% else %}
        <tr>
            <td colspan="6">
                <p>Nothin yet dude</p>
            </td>
        </tr>
    {% endfor %}    
    </table>
{% endblock %}