{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10 offset1">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Case #</th>
                    <th>Audit Score</th>
                    <th>Audit User</th>
                    <th>Audit Form</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ audit.reference }}</td>
                    <td>
                    {% if audit.flag == true %}
                        <div class="text-warning">{{ audit.form.flagLabel }}</div>
                    {% else %}
                        {{ get_resultforaudit( audit ) }} %
                    {% endif %}
                    </td>
                    <td>{{ audit.auditor }}</td>
                    <td>{{ audit.form }}</td>
                    <td>
                        <a class="btn btn-small" href="{{ path( 'audit_export', { 'id': audit.id } ) }}">export</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Field</th>
                    <th>Score</th>
                    <th>Weight</th>
                    <th>Reviewer's Comment</th>
                </tr>
            </thead>
            {% set counter = 1 %}
            {% for section in audit.form.sections %}
                <tr>
                    <td colspan="5"><strong>Section {{ section.position }}: {{ section.title }}</strong></td>
                </tr>
                {% for field in section.fields %}
                    {% for score in scores %}
                        {% if score.field == field %}
                        <tr>
                            <td>{{ counter }}</td>
                            <td>{{ field.title }}</td>
                            <td>{{ score.mark }}</td>
                            <td>
                            {% if field.flag == true %}
                                {{ audit.form.flagLabel }}
                            {% else %}
                                {{ field.weight }}
                            {% endif %}
                            </td>
                            <td>{{ score.comment }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% set counter = counter +1 %}
                {% endfor %}
                <tr>
                    <td colspan="2" style="text-align: right">Section's Score</td>
                    {#
                    <td>{{ attribute( audit, 'resultForSection', [ section ] ) }}</td>
                    <td>
                        {{ section.weight }}
                    </td>#}
                    {% if section.flag == true %}
                    <td>{{ audit.form.flagLabel }}</td>
                    <td></td>
                    {% else %}
                    <td>{{ get_resultforsection( audit, section ) }} %</td>
                    <td>{{ get_weightforsection( section ) }}</td>
                    {% endif %}
                    <td></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" style="text-align: right">Final Score</td>
                <td>
                {% if audit.flag == true %}
                    <div class="text-warning">{{ audit.form.flagLabel }}</div>
                {% else %}
                    {{ get_resultforaudit( audit ) }} %
                {% endif %}
                </td>
                <td>{{ get_weightforaudit( audit ) }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}