<tr class="cisco-audit-section-row">
    <td colspan="4">
        <strong>Section {{ loop.index }}: {{ section.title }}</strong>
        {% if section.description is not empty %}
             - {{ section.description }}
        {%  else %}
            <i>(no description)</i>
        {% endif %}
    </td>
    <td style="padding: 0 0 0 0 ">
        <div class="btn-group pull-right cisco-audit-options">
            <a class="btn btn-mini cisco-audit-section-view">
                <i class="icon-eye-open" title="View"></i>
            </a>
            <a class="btn btn-mini cisco-audit-section-edit"
                href="{{ path( 'audit_section_edit', { 'section_id': section.id } ) }}">
                <i class="icon-wrench" title="Edit"></i>
            </a>
            <a class="btn btn-mini cisco-audit-section-remove" data-section-id="{{ section.id }}"
               href="{{ path( 'audit_form_remove', { 'form_id' : auditform.id ,'section_id': section.id } ) }}">
                <i class="icon-minus" title="Remove"></i>
            </a>
        </div>
    </td>
</tr>
{% for field in section.fields %}
    {% include 'CiscoSystemsAuditBundle:Field:_load.html.twig' %}
{% else %}
    <tr class="warning-empty">
        <td colspan="6">
            <i class="icon-warning-sign"></i>
            No field assigned to this section.
        </td>
    </tr>
{% endfor %}