{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <form class="form-horizontal" method="POST" action="">
        {% if edit == true %}
            <h3>Edit existing form:</h3>
        {% else %}
            <h3>Add new form:</h3>
        {% endif %}
        <div class="controls controls-row">
            <div class="control-group">
                <div class="control-label">
                    {{ form_label(form.title) }}
                </div>
                <div class="controls">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    {{ form_label(form.active) }}
                </div>
                <div class="controls">
                    {{ form_widget(form.active) }}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    {{ form_label(form.description) }}
                </div>
                <div class="controls">
                    {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                </div>
            </div>
            <div class="control-group">
                <input type="submit" value="save" class="btn btn-small" />
            </div>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th colspan="2">Title</th>
                    <th>Description</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if auditform.sections != null %}
                    {% for section in auditform.sections %}
                        <tr class="wgaudit-section">
                            <td colspan=2><strong>Section {{ section.id }}: {{ section.title }}</strong></td>
                            <td colspan=2>{{ section.description }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-mini" data-toggle="modal" data-target="#modal" href="{{ path( 'wgauditformsection_view', { 'id': section.id } ) }}"><i class="icon-eye-open"></i> View</a>
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}"><i class="icon-pencil"></i> Edit</a></li>
                                        <li><a href="{{ path( 'wgauditform_remove', { 'id' : auditform.id ,'section_id': section.id } ) }}"><i class="icon-minus"></i> Remove</a></li>
                                        <li><a href="#"><i class="icon-plus"></i> Add Section</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% for field in section.fields %}
                        <tr class="wgaudit-field">
                            <td></td>
                            <td>{{ field.title }}</td>
                            <td>{{ field.description }}</td>
                            <td>{{ field.weight }}</td>
                            <td></td>
                        </tr>
                        {% else %}
                        <tr>no fields assigned yet</tr>
                        {% endfor %}
                    {% else %}
                        <tr>no sections assigned yet</tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

