{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form class="form-horizontal" method="POST" action="">
            <div class="btn-group pull-right">
                <a type="submit" class="btn btn-mini">
                    <i class="icon-ok"></i> Save Form
                </a>
                <a class="btn btn-mini" href="#" title="TO BE IMPLEMENTED">
                    <i class="icon-trash"></i> Delete Form
                </a>
            </div>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.active) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.active) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-hover cisco-audit-table">
                <thead>
                        <th width=20%>Title</th>
                        <th width=65%></th>
                        <th width=5%>Weight</th>
                        <th width=5%>Fatal</th>
                        <th width=5%></th>
                    </tr>
                </thead>
                <tbody>
                {% for section in auditform.sections %}
                    {% include 'CiscoSystemsAuditBundle:AuditFormSection:_load.html.twig' %}
                {% else %}
                    <tr class="warning-empty">
                        <td colspan="6">
                            <i class="icon-warning-sign"></i> 
                            No section assigned to this form.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'CiscoSystemsAuditBundle:AuditFormSection:_ulist.html.twig' %}
        </form>
    </div>
</div>
{% endblock %}