{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span10 offset1">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Edit existing form
            {% else %}
                Add new form
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save Form
                    </button>
                    <noscript>
                        <a class="btn btn-mini" 
                           href="#">
                            <i class="icon-plus"></i> Add Section
                        </a>
                        <a class="btn btn-mini" 
                           href="{{ path( 'wgauditform_delete', { 'id': auditform.id }) }}">
                            <i class="icon-trash"></i> Delete Form
                        </a>
                    </noscript>
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="audit-section-add" href="#">
                                <i class="icon-plus"></i> Add Section
                            </a>
                        </li>
                        {% if usections is not empty %}
                            <li class="divider"></li>
                            {% for section in usections %}
                            <li>
                                <a data-section-id={{ section.id }} class="audit-section-add"
                                   href="{{ path( 'wgauditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> {{ section.title }}
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            <a class="audit-form-delete" 
                               href="{{ path( 'wgauditform_delete', { 'id': auditform.id }) }}">
                                <i class="icon-trash"></i> Delete Form
                            </a>
                        </li>
                    </ul>
                </div>
            </legend>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.active) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.active) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                        <th colspan="2">Title</th>
                        <th>Description</th>
                        <th>Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if auditform.sections != null %}
                    {% for section in auditform.sections %}
                    <tr class="audit-section-row">
                        <td colspan=2><strong>Section {{ section.id }}: {{ section.title }}</strong></td>
                        <td colspan=2>{{ section.description }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini" 
                                   href="{{ path( 'wgauditformsection_view', { 'id': section.id } ) }}">
                                    <i class="icon-eye-open"></i> View Section
                                </a>
                                    <noscript>
                                        <a class="btn btn-mini"
                                            href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}">
                                            <i class="icon-pencil"></i> Edit Section
                                        </a>
                                    </noscript>
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}">
                                            <i class="icon-pencil"></i> Edit Section
                                        </a>
                                    </li>
                                    <li>
                                    {% if ufields is not empty %}
                                        <li class="divider"></li>
                                        {% for field in ufields %}
                                        <li>
                                            <a data-field-id={{ field.id }} class="audit-field-add"
                                               href="{{ path( 'wgauditformsection_add_field', { 'id' : section.id ,'field_id': field.id } ) }}">
                                                <i class="icon-plus"></i> {{ field.title }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                        <li class="divider"></li>
                                    {% endif %}
                                    </li>
                                    <li>
                                        <a class="audit-section-remove" 
                                           href="{{ path( 'wgauditform_remove', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                            <i class="icon-minus"></i> Remove Section
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                        {% if section.fields != null %}
                            {% for field in section.fields %}
                            <tr class="audit-form-field">
                                <td></td>
                                <td>{{ field.title }}</td>
                                <td>{{ field.description }}</td>
                                <td>{{ field.weight }}</td>
                                <td>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">no Fields assigned yet</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">no Sections assigned yet</td>
                    </tr>
                {% endif %}
                    <noscript>
                    {% if usections is not empty and auditform.id is not null %}
                        <tr>
                            <td colspan="5">
                            {% for section in usections %}
                                <a class="btn btn-mini" 
                                   href="{{ path( 'wgauditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> Add Section: {{ section.title }}
                                </a>
                            {% endfor %}                       
                            </td>
                        </tr>
                    {% endif %}
                    </noscript>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script language="javascript">
// find to which section this field belongs to
// get last row of this section
// add new row after the last on


//$('.audit-section-row').next('.audit-form-field').css('background-color', 'yellow');
//$('.audit-section-row').next('.audit-section-row').prev().css('background-color', 'red');

$( function()
{
    // Remove Section
    $( '.audit-section-remove' ).click( function()
    {
        var url = $( this ).attr( 'href' );
        var that = this;

        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                $( that ).closest( '.audit-section-row' ).nextUntil( '.audit-section-row' ).remove();
                $( that ).closest( '.audit-section-row' ).remove();
            },
            error: function( response )
            {
                //console.log( 'failure: ' + response );
            }

        });
        return false;
    });

    // Edit Section
    $( '.audit-section-edit' ).click( function()
    {
        // TODO: pop a new row bellow the current one and populate with the EditSectionForm
        // OR: get current row and replace by value of the EditSectionForm
        return false;
    });

    // Add Section
    $( '.audit-section-add' ).click( function()
    {
        var url = $( this ).attr( 'href' );
        var sectionId = $( this ).attr( 'data-section-id' );
        
        loadUrl = routePatternLoad.replace( '{id}', sectionId );

        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                $( '.audit-section-row' ).last( '.audit-section-row' ).after().load( loadUrl );
            },
            error: function( response )
            {
                //console.log( 'failure: ' + response );
            }
        });
        return false;
    });
});
</script>
{% endblock %}

