{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}

    <form method="POST" action="">
        {% if edit == true %}
            <h2>Edit existing form:</h2>
        {% else %}
            <h2>Add new form:</h2>
        {% endif %}
    </form>
    <div>Title: {{ form_widget(form.title) }}</div>
    <div>Is the form active: {{ form_widget(form.active) }}</div>
    <div>Description: {{ form_widget(form.description) }}</div>
    <div class="row submit">
        <input type="submit" value="save" class="formbutton save" />
    </div>
    <table id="audit">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% if auditform.sections != null %}
                {% for section in auditform.sections %}
                    <tr class="wgaudit-section">
                        <td>Section {{ section.id }}: {{ section.title }}</td>
                        <td colspan=2>{{ section.description }}</td>
                        <td>[ <a href="{{ path( 'wgauditform_remove', { 'id' : auditform.id ,'section_id': section.id } ) }}">X</a> ]</td>
                    </tr>
                    {% for field in section.fields %}
                        <tr class="wgaudit-field">
                            <td>{{ field.title }}</td>
                            <td>{{ field.description }}</td>
                            <td>{{ field.weight }}</td>
                            <td>[ <a href="{{ path( 'wgauditformsection_remove', { 'id' : section.id ,'field_id': field.id } ) }}">X</a> ]</td>
                        </tr>
                    {% else %}
                    <tr>no fields assigned yet</tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><a href="#" id="wgaudit-add-field">[ Add Field ]</a></td>
                    </tr>
                {% else %}
                    <tr>no sections assigned yet</tr>
                {% endfor %}
                    <tr>
                        <td colspan="4"><a href="#" id="wgaudit-add-section">[ Add Section ]</a></td>
                    </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

