{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span10 offset1">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Edit existing form
            {% else %}
                Add new form
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save Form
                    </button>
                    <noscript>
                    {# need to load an edit form for Section and pass the auditform.id #}
                        <a class="btn btn-mini" 
                           href="#">
                            <i class="icon-plus"></i> Add Section
                        </a>
                        <a class="btn btn-mini" 
                           href="{{ path( 'wgauditform_delete', { 'id': auditform.id } ) }}">
                            <i class="icon-trash"></i> Delete Form
                        </a>
                    </noscript>
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="audit-section-add" href="#">
                                <i class="icon-plus"></i> Add Section
                            </a>
                        </li>
                        {% if usections is not empty %}
                            <li class="divider"></li>
                            {% for section in usections %}
                            <li>
                                <a data-section-id="{{ section.id }}" class="audit-section-add"
                                   href="{{ path( 'wgauditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> {{ section.title }}
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            <a class="audit-form-delete" 
                               href="{{ path( 'wgauditform_delete', { 'id': auditform.id }) }}">
                                <i class="icon-trash"></i> Delete Form
                            </a>
                        </li>
                    </ul>
                </div>
            </legend>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.active) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.active) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                        <th colspan="2">Title</th>
                        <th>Description</th>
                        <th>Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if auditform.sections != null %}
                    {% for section in auditform.sections %}
                    {% include 'WGAuditBundle:AuditFormSection:load.html.twig' %}
                        {% if section.fields != null %}
                            {% for field in section.fields %}
                            <tr class="audit-field-row">
                                <td></td>
                                <td>{{ field.title }}</td>
                                <td>{{ field.description }}</td>
                                <td>{{ field.weight }}</td>
                                <td>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">no Fields assigned yet</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">no Sections assigned yet</td>
                    </tr>
                {% endif %}
                    <noscript>
                    {% if usections is not empty and auditform.id is not null %}
                        <tr>
                            <td colspan="5">
                            {% for section in usections %}
                                <a class="btn btn-mini" 
                                   href="{{ path( 'wgauditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> Add Section: {{ section.title }}
                                </a>
                            {% endfor %}                       
                            </td>
                        </tr>
                    {% endif %}
                    </noscript>
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}

