{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10 offset1">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Edit existing form
            {% else %}
                Add new form
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save Form
                    </button>
                    <noscript>
                    {# need to load an edit form for Section and pass the auditform.id #}
                        <a class="btn btn-mini" 
                           href="#">
                            <i class="icon-plus"></i> Add Section
                        </a>
                        <a class="btn btn-mini" 
                           href="{{ path( 'cisco_auditform_delete', { 'id': auditform.id } ) }}">
                            <i class="icon-trash"></i> Delete Form
                        </a>
                    </noscript>
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="cisco-audit-section-add" data-form-id={{ auditform.id }}
                               href="#">
                                <i class="icon-plus"></i> Add new Section
                            </a>
                        </li>
                        {% if usections is not empty %}
                            <li class="divider"></li>
                            {% for section in usections %}
                            <li>
                                <a class="cisco-audit-section-add" data-section-id={{ section.id }}
                                   href="{{ path( 'cisco_auditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> {{ section.title }}
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                        {% endif %}
                        <li>
                            <a class="cisco-audit-form-delete" data-form-id={{ auditform.id }}
                               href="{{ path( 'cisco_auditform_delete', { 'id': auditform.id }) }}">
                                <i class="icon-trash"></i> Delete Form
                            </a>
                        </li>
                    </ul>
                </div>
            </legend>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.active) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.active) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-hover cisco-audit-table">
                <thead>
                        <th width=20%>Title</th>
                        <th width=65%></th>
                        <th width=5%>Weight</th>
                        <th width=5%>Fatal</th>
                        <th width=5%></th>
                    </tr>
                </thead>
                <tbody>
                {% if auditform.sections != null %}
                    {% for section in auditform.sections %}
                    {% include 'CiscoSystemsAuditBundle:AuditFormSection:_load.html.twig' %}
                        {% if section.fields != null %}
                            {% for field in section.fields %}
                            {% include 'CiscoSystemsAuditBundle:AuditFormField:_load.html.twig' %}
                            {% else %}
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4>Warning!</h4>
                                        <p>No fields yet.</p>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">no Sections assigned yet</td>
                    </tr>
                {% endif %}
                    <noscript>
                    {% if usections is not empty and auditform.id is not null %}
                        <tr>
                            <td colspan="6">
                            {% for section in usections %}
                                <a class="btn btn-mini" 
                                   href="{{ path( 'cisco_auditform_add_section', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                                    <i class="icon-plus"></i> Add Section: {{ section.title }}
                                </a>
                            {% endfor %}                       
                            </td>
                        </tr>
                    {% endif %}
                    </noscript>
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}

