{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span6 offset1">
        <legend>Forms
            <a class="btn btn-small pull-right" 
               href="{{ path( 'cisco_auditform_add' ) }}">
                <i class="icon-plus"></i> Create a new form
            </a>
        </legend>
        <table class="table table-condensed table-hover">
            <caption>List of existing Forms</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Is the form Active?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr title="{{ form.description }}">
                        <td>{{ form.title }}</td>
                        <td>
                        {% if  form.active == 1 %}
                            <i class="icon-check"/>
                        {% else %}
                            <i class="icon-check-empty"/>
                        {% endif %}
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a class="btn btn-mini" 
                                   href="{{ path( 'cisco_auditform_view', { 'id': form.id } ) }}">
                                    <i class="icon-eye-open"></i> View
                                </a>
                                <noscript>
                                    <a class="btn btn-mini"
                                       href="{{ path( 'cisco_auditform_edit', { 'id': form.id } ) }}">
                                        <i class="icon-wrench"></i> Edit
                                    </a>
                                    <a class="btn btn-mini"
                                       href="{{ path( 'cisco_auditform_delete', { 'id': form.id } ) }}">
                                        <i class="icon-trash"></i> Delete
                                    </a>
                                </noscript>    
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" 
                                   href="#">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path( 'cisco_auditform_edit', { 'id': form.id } ) }}">
                                            <i class="icon-wrench"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cisco-audit-form-delete" data-form-id="{{ form.id }}"
                                            href="{{ path( 'cisco_auditform_delete', { 'id': form.id } ) }}">
                                            <i class="icon-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no forms yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}