{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}

    <h2>Listing Existing Forms:</h2>

    <table class="data">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Is the form Active?</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>                
            </tr>        
        </thead>
        <tbody>
            {% for form in forms %}
                <tr>
                    <td>{{ form.title }}</td>
                    <td>{{ form.description }}</td>
                    <td>{% if  form.active == 1 %}
                            <div>yes</div>
                        {% else %}
                            <div>No</div>
                        {% endif %}
                    <td>[ <a href="{{ path( 'wgauditform_view', { 'id': form.id } ) }}">view</a> ]</td>  
                    <td>[ <a href="{{ path( 'wgauditform_edit', { 'id': form.id } ) }}">edit</a> ]</td>
                    <td>[ <a href="{{ path( 'wgauditform_remove', { 'id': form.id } ) }}">delete</a> ]</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no forms yet</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="8" align="center">
                        <a href="{{ path( 'wgauditform_add' ) }}">Add a new form</a>
                    </td>
                </tr>                
        </tbody>
    </table>

{% endblock %}