{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <h3>Listing Existing Forms:</h3>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Is the form Active?</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
                <tr>
                    <td>{{ form.title }}</td>
                    <td>{{ form.description }}</td>
                    <td>{% if  form.active == 1 %}
                            <div>yes</div>
                        {% else %}
                            <div>No</div>
                        {% endif %}
                    <td><a href="{{ path( 'wgauditform_view', { 'id': form.id } ) }}" class="btn btn-mini"><i class="icon-eye-open"/></a></td>
                    <td><a href="{{ path( 'wgauditform_edit', { 'id': form.id } ) }}" class="btn btn-mini"><i class="icon-edit"/></a></td>
                    <td><a href="{{ path( 'wgauditform_delete', { 'id': form.id } ) }}" class="btn btn-mini"><i class="icon-remove"/></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no forms yet</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="8" align="center">
                        <a class="btn btn-small" href="{{ path( 'wgauditform_add' ) }}">Add a new form</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}