{# Auditform::view.html.twig #}

{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10 offset1">
        <legend>Audit Form
            <div class="btn-group pull-right">
                <a class="btn btn-mini" 
                   href="{{ path( 'cisco_auditform_edit', { 'id': form.id } ) }}" style="font-size: 10px">
                    <i class="icon-wrench"></i> Edit
                </a>
            </div>
        </legend>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Active</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form.title }}</td>
                    <td>
                    {% if  form.active == 1 %}
                        <i class="icon-check"/>
                    {% else %}
                        <i class="icon-uncheck"/>No
                    {% endif %}
                    </td>
                    <td>{{ form.description }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-condensed table-hover">
            <caption>List of fields contained in this section</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
            {% for section in form.sections %}
                <tr>
                    <td colspan=4>
                        <strong>Section {{section.id}}: {{ section.title }}</strong> - {{ section.description }}
                    </td>
                </tr>
                {% for field in section.fields %}
                <tr>
                    <td>{{ field.title }}</td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.weight }}</td>
                </tr>
                {% else %}
                    <tr class="warning-empty">
                        <td colspan="6">
                            <i class="icon-warning-sign"></i> 
                            No field assigned to this section.
                        </td>
                    </tr>
                {% endfor %}
                    <tr class="warning-empty">
                        <td colspan="6">
                            <i class="icon-warning-sign"></i> 
                            No section assigned to this form.
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}