{# Auditform::view.html.twig #}

{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}

    <h2>Form: {{ form.title }}</h2>
    <div>Is the form active: {% if  form.active == 1 %}yes{% else %}No{% endif %}</div>
    <div>Description: {{ form.description }}</div>

    <table id="audit">
        <thead>
            <tr>
                <th>Title</th>
                <th>Weight</th>
                <th>Description</th>
                <th>score</th>
            </tr>        
        </thead>
        <tbody>
            {% for section in form.sections %}
                <tr class="wgaudit-section">
                    <td colspan=2>Section {{section.id}}: {{ section.title }}</td>
                    <td colspan=2>{{ section.description }}</td>
                </tr>
                {% for field in section.fields %}
                <tr>
                    <td>{{ field.title }}</td>
                    <td>{{ field.weight }}</td>
                    <td>{{ field.description }}</td>
                    <td>{% for score, label in field.scores %}
                            <div>
                                {{ score }}: {{ label }}
                            </div>
                        {% else %}
                            <div>No scores defined</div>
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                {% endfor %}
            {% else %}
                <tr>no fields assigned yet</tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}