{% block body %}
<tr class="audit-section-row">
    <td colspan=2>
        <strong>Section {{ section.id }}: {{ section.title }}</strong>
    </td>
    <td colspan=2>{{ section.description }}</td>
    <td>
        <div class="btn-group">
            <a class="btn btn-mini" 
               href="{{ path( 'cisco_auditformsection_view', { 'id': section.id } ) }}">
                <i class="icon-eye-open"></i> View
            </a>
                <noscript>
                    <a class="btn btn-mini"
                        href="{{ path( 'cisco_auditformsection_edit', { 'id': section.id } ) }}">
                        <i class="icon-wrench"></i> Edit
                    </a>
                </noscript>
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path( 'cisco_auditformsection_edit', { 'id': section.id } ) }}">
                        <i class="icon-wrench"></i> Edit
                    </a>
                </li>
                <li>
                {% if ufields is not empty %}
                    <li class="divider"></li>
                    {% for field in ufields %}
                    <li>
                        <a data-field-id="{{ field.id }}" class="cisco-audit-field-add"
                           href="{{ path( 'cisco_auditformsection_add_field', { 'id' : section.id ,'field_id': field.id } ) }}">
                            <i class="icon-plus"></i> {{ field.title }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="divider"></li>
                {% endif %}
                </li>
                <li>
                    <a class="cisco-audit-section-remove" 
                       href="{{ path( 'cisco_auditform_remove', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                        <i class="icon-minus"></i> Remove
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>
{% endblock %}