{% block pagecontent %}
<tr class="cisco-audit-section-row">
    <td colspan="4">
        <strong>Section {{ section.id }}: {{ section.title }}</strong> 
        {% if section.description is not empty %}
             - {{ section.description }}
        {%  else %}
            <i>(no description)</i>
        {% endif %}
    </td>
    <td>
        <div class="btn-group">
            <a class="btn btn-mini cisco-audit-section-view">
                <i class="icon-eye-open" title="View"></i> 
            </a>  
            <a class="btn btn-mini cisco-audit-section-edit"
                href="{{ path( 'cisco_auditsection_edit', { 'id': section.id } ) }}">
                <i class="icon-wrench" title="Edit"></i> 
            </a>  
            <a class="btn btn-mini cisco-audit-section-remove" data-section-id="{{ section.id }}" 
               href="{{ path( 'cisco_auditform_remove', { 'id' : auditform.id ,'section_id': section.id } ) }}">
                <i class="icon-minus" title="Remove"></i> 
            </a>
        </div>
    </td>
</tr>
{% for field in section.fields %}
    {% include 'CiscoSystemsAuditBundle:AuditFormField:_load.html.twig' %}
{% else %}
<tr class="cisco-audit-field-row">
    <td colspan="6" style="text-align: center; background-color: pink;">No field is assigned to this section.
    </td>
</tr>
{% endfor %}
{% endblock %}