{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span10 offset1">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Edit existing section
            {% else %}
                Add new section
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save
                    </button>
{#                    <a class="btn btn-mini" href="#"><input type="submit" value="save" />
                        <i class="icon-eye-open"></i> Save
                    </a>#}
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="audit-section-add" href="#">
                                <i class="icon-pencil"></i> Add Field
                            </a>
                        </li>
                        <li>
                            <a class="audit-form-delete" href="#">
                                <i class="icon-minus"></i> Delete Section
                            </a>
                        </li>
                    </ul>
                </div>
            </legend>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.auditform) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.auditform) }}
                        {{ form_errors(form.auditform) }}
                    </div>
                </div>
            </div>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_rest(form) }}
                </div>
            </div>
        </form>

        <table class="table table-condensed">
            <caption>List of fields contained in this section</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>description</th>
                    <th>Weight</th>
                    <th>Fatal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for field in section.fields %}
                    <tr class="audit-field-row">
                    <td>{{ field.title }}</td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.weight }}</td>
                    <td>{% if field.fatal == 1 %}
                            <i class="icon-check"/>
                        {% else %}
                            <i class="icon-check-empty"/>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini"  data-toggle="modal" data-target="#modal" href="{{ path( 'wgauditformfield_view', { 'id': field.id } ) }}">
                                <i class="icon-eye-open"></i> View
                            </a>
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path( 'wgauditformfield_edit', { 'id': field.id } ) }}">
                                        <i class="icon-pencil"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="audit-field-remove" href="{{ path( 'wgauditformsection_remove', { 'id' : section.id ,'field_id': field.id } ) }}">
                                        <i class="icon-minus"></i> Remove
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-plus"></i> Add Field
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>no fields assigned yet</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
$(function()
{
    $( '.audit-field-remove' ).click( function()
    {
        var url = $( this ).attr( 'href' );
        var that = this;
        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                $( that ).closest( '.audit-field-row' ).remove();
            },
            error: function( response )
            {
                //console.log( 'failure: ' + response );
            }
        });
        return false;
    });
});
</script>
{% endblock %}
