{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Editing section: {{ section.title }}
            {% else %}
                Add new section
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save Section
                    </button>
                    <a class="btn btn-mini" href="#" title="TO BE IMPLEMENTED">
                        <i class="icon-trash"></i> Delete section
                    </a>
                </div>
            </legend>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.auditform) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.auditform) }}
                        {{ form_errors(form.auditform) }}
                    </div>
                </div>
            </div>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_rest(form) }}
                </div>
            </div>
        </form>

        <table class="table table-condensed cisco-audit-table">
            <caption>List of fields contained in this section</caption>
            <thead>
                <tr>
                    <th width=20%>Title</th>
                    <th width=60%></th>
                    <th width=5%>Weight</th>
                    <th width=5%>Fatal</th>
                    <th width=10%></th>                    
                </tr>
            </thead>
            <tbody>
            {% for field in section.fields %}
                {% include 'CiscoSystemsAuditBundle:AuditFormField:_load.html.twig' %}
            {% else %}
                <tr>
                    <td colspan="5" style="text-align: center;">
                        No field assigned to this section
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td colspan="4" class="cisco-audit-orphan-field">
                        <div class="btn-group">
                        <a class="btn btn-mini"
                           href="" title="TO BE IMPLEMENTED">
                            Create: new Field <i class="icon-plus"></i>
                        </a>
                {% if ufields is not empty and section.id is not null %}
                    {% for field in ufields %}
                        <a class="btn btn-mini cisco-audit-field-add" data-field-id="{{ field.id }}" title="TO BE IMPLEMENTED"
                           href="{{ path( 'cisco_auditsection_add_field', { 'id' : section.id ,'field_id': field.id } ) }}">
                            Add: {{ field.title }} <i class="icon-plus"></i> 
                        </a>
                    {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
