{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span10 offset1">
        <form class="form-horizontal" method="POST" action="">
            <legend>
            {% if edit == true %}
                Edit existing section
            {% else %}
                Add new section
            {% endif %}
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-mini">
                        <i class="icon-ok"></i> Save Section
                    </button>
                    <noscript>
                    <button href="#" class="btn btn-mini">
                        <i class="icon-plus"></i> Add Field
                    </button>
                    {#
                        TODO: create route for each value in options
                        FORM need 1 and only 1 action (path) to be rendered (NOT dynamic)
                    #}
                    {% if ufields is not empty %}
                        <form action="{{ path( 'wgauditformsection_add_field', { 'id' : section.id ,'field_id': field.id } ) }}">
                            <div class="input-append">
                                <select name="field_id">
                                    {% for field in ufields %}
                                    <option value="{{ field.id }}">{{ field.title }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit">
                                    <i class="icon-plus"></i>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                    <button href="#" class="btn btn-mini">
                        <i class="icon-remove"></i> Delete Section
                    </button>
                    </noscript>
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="audit-section-new" href="#">
                                <i class="icon-pencil"></i> Add Field
                            </a>
                        </li>
                        {% if ufields is not empty %}
                            {% for field in ufields %}
                            <li>
                                <a data-field-id={{ field.id }} class="audit-field-add"
                                   href="{{ path( 'wgauditformsection_add_field', { 'id' : section.id ,'field_id': field.id } ) }}">
                                    <i class="icon-plus"></i> {{ field.title }}
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <a class="audit-section-delete" href="#">
                                <i class="icon-remove"></i> Delete Section
                            </a>
                        </li>
                    </ul>
                </div>
            </legend>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.title) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.auditform) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.auditform) }}
                        {{ form_errors(form.auditform) }}
                    </div>
                </div>
            </div>
            <div class="controls controls-row">
                <div class="control-group">
                    <div class="control-label">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="controls">
                        {{ form_widget(form.description, { 'attr': { 'class': 'input-xxlarge' }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_rest(form) }}
                </div>
            </div>
        </form>

        <table class="table table-condensed">
            <caption>List of fields contained in this section</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>description</th>
                    <th>Weight</th>
                    <th>Fatal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for field in section.fields %}
                    <tr class="audit-field-row">
                    <td>{{ field.title }}</td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.weight }}</td>
                    <td>{% if field.fatal == 1 %}
                            <i class="icon-check"/>
                        {% else %}
                            <i class="icon-check-empty"/>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini"  data-toggle="modal" data-target="#modal" href="{{ path( 'wgauditformfield_view', { 'id': field.id } ) }}">
                                <i class="icon-eye-open"></i> View
                            </a>
                            <noscript>
                                <a href="{{ path( 'wgauditformfield_edit', { 'id': field.id } ) }}" class="btn btn-mini">
                                    <i class="icon-pencil"></i> Edit
                                </a>
                                <a  href="{{ path( 'wgauditformsection_remove', { 'id' : section.id ,'field_id': field.id } ) }}" class="btn btn-mini">
                                    <i class="icon-minus"></i> Remove
                                </a>
                            </noscript>
                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path( 'wgauditformfield_edit', { 'id': field.id } ) }}">
                                        <i class="icon-pencil"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="audit-field-remove" href="{{ path( 'wgauditformsection_remove', { 'id' : section.id ,'field_id': field.id } ) }}">
                                        <i class="icon-minus"></i> Remove
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>no fields assigned yet</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
var routePatternLoad = {{ routePatternLoad }};

$( function()
{
    $( '.audit-field-remove' ).click( function()
    {
        var url = $( this ).attr( 'href' );
        var that = this;
        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                $( that ).closest( '.audit-field-row' ).remove();
            },
            error: function( response )
            {
                //console.log( 'failure: ' + response );
            }
        });
        return false;
    });

    $( '.audit-field-add' ).click( function()
    {
        var url = $( this ).attr( 'href' );
        var fieldId = $( this ).attr( 'data-field-id' );

        loadUrl = routePatternLoad.replace( '{id}', fieldId );

        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                $( '.audit-field-row' ).last( '.audit-field-row' ).after().load( loadUrl );
            },
            error: function( response )
            {
                //console.log( 'failure: ' + response );
            }
        });
        return false;
    });
});
</script>
{% endblock %}
