{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <h3>Listing existing Sections:</h3>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Description</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.title }}</td>
                    <td>{{ section.auditform }}</td>
                    <td>{{ section.description }}</td>
                    <td><a href="{{ path( 'wgauditformsection_view', { 'id': section.id } ) }}" class="btn btn-mini"><i class="icon-eye-open"/></a></td>
                    <td><a href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}" class="btn btn-mini"><i class="icon-edit"/></a></td>
                    <td><a href="{{ path( 'wgauditformsection_delete', { 'id': section.id } ) }}" class="btn btn-mini"><i class="icon-remove"/></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no sections yet</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6" align="center">
                        <a href="{{ path( 'wgauditformsection_add' ) }}" class="btn btn-small">Add a new section</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}
