{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagecontent %}
<div class="container">
    <div class="span6 offset2">
        <legend>
            Sections
            <a class="btn btn-small pull-right"
               href="{{ path( 'cisco_auditsection_add' ) }}">
                <i class="icon-plus"></i> Add a section
            </a>
        </legend>
        <table class="table table-condensed table-hover">
            <caption>List of existing Section</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Form</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                    <tr title="{{ section.description }}">
                        <td>{{ section.title }}</td>
                        <td>{{ section.auditForm }}</td>
                        <td width="10%">
                            <div class="btn-group pull-right">
                                <a class="btn btn-mini" 
                                   href="{{ path( 'cisco_auditsection_view', { 'id': section.id } ) }}">
                                    <i class="icon-eye-open"></i> View
                                </a>
                                <noscript>
                                    <a class="btn btn-mini"
                                       href="{{ path( 'cisco_auditsection_edit', { 'id': section.id } ) }}">
                                        <i class="icon-wrench"></i> Edit
                                    </a>
                                    <a class="btn btn-mini"
                                        href="{{ path( 'cisco_auditsection_delete', { 'id': section.id } ) }}">
                                        <i class="icon-trash"></i> Delete
                                    </a>
                                </noscript>
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" 
                                   href="#">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="cisco-audit-section-edit" data-section-id="{{ section.id }}"
                                            href="{{ path( 'cisco_auditsection_edit', { 'id': section.id } ) }}">
                                            <i class="icon-wrench"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cisco-audit-section-delete" data-section-id="{{ section.id }}"
                                            href="{{ path( 'cisco_auditsection_delete', { 'id': section.id } ) }}">
                                            <i class="icon-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <h4>Warning!</h4>
                                <p>No section yet.</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
