{% block body %}
<tr>
    <td>{{ section.title }}</td>
    <td>{{ section.auditform }}</td>
    <td>{{ section.description }}</td>
    <td width="10%">
        <div class="btn-group">
            <a class="btn btn-mini" 
               href="{{ path( 'wgauditformsection_view', { 'id': section.id } ) }}">
                <i class="icon-eye-open"></i> View
            </a>
            <noscript>
                <a class="btn btn-mini"
                   href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}">
                    <i class="icon-pencil"></i> Edit
                </a>
                <a class="btn btn-mini"
                    href="{{ path( 'wgauditformsection_delete', { 'id': section.id } ) }}">
                    <i class="icon-trash"></i> Delete
                </a>
            </noscript>
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}">
                        <i class="icon-pencil"></i> Edit
                    </a>
                </li>
                <li><a href="{{ path( 'wgauditformsection_delete', { 'id': section.id } ) }}">
                        <i class="icon-trash"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>
{% endblock %}