{# AuditformSection::view.html.twig #}

{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span10 offset1">
        <legend>Section: {{ section.title }}
            <div class="btn-group pull-right">
                <a class="btn btn-mini" href="{{ path( 'wgauditformsection_edit', { 'id': section.id } ) }}">
                    <i class="icon-pencil"></i> Edit
                </a>
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path( 'wgauditformsection_delete', { 'id': section.id } ) }}">
                            <i class="icon-trash"></i> Delete
                        </a>
                    </li>
                </ul>
            </div>
        </legend>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ section.auditform }}</td>
                    <td>{{ section.description }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed">
            <caption>List of fields contained in this section</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Section</th>
                    <th>description</th>
                    <th>Weight</th>
                    <th>Fatal</th>
                </tr>
            </thead>
            <tbody>
            {% for field in section.fields %}
                <tr>
                    <td>{{ field.title }}</td>
                    <td>{{ field.section }}</td>
                    <td>{{ field.description }}</td>
                    <td>{{ field.weight }}</td>
                    <td>{% if field.fatal == 1 %}
                            <i class="icon-check"/>
                        {% else %}
                            <i class="icon-check-empty"/>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>no fields assigned yet</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
