{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block pagetitle %}
    {{ parent() }}:
            {% if edit == true %}
                Edit existing form
            {% else %}
                Add new form
            {% endif %}
{% endblock %}

{% block pagecontent %}
<div class="container">
    <div class="span10">
        <form class="form-horizontal" method="POST" action="">
            <div class="form-horizontal">
                <div class="audit-fieldset audit-fieldset-section">
                    <div class="control-group">
                        <div class="control-label">
                            {{ form_label(form.title) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.title) }}
                        </div>
                    </div>
                    <div class="row input">
                        <div class="control-label">
                            {{ form_label(form.flagLabel) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.flagLabel) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            {{ form_label(form.allowMultipleAnswer) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.allowMultipleAnswer) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            {{ form_label(form.active) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.active) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            {{ form_label(form.description) }}
                        </div>
                        <div class="controls">
                            {{ form_widget(form.description ) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-small">
                    Save Form <i class="icon-ok icon-white"></i>
                </button>
                <a class="btn btn-primary btn-small"
                   href="{{ path( 'audit_forms' ) }}">
                    Cancel <i class="icon-remove icon-white"></i>
                </a>
                {% if edit == true %}
                <a class="btn btn-primary btn-small"
                   href="{{ path( 'audit_form_delete', { 'form_id' : auditform.id } ) }}">
                    Delete Form <i class="icon-trash icon-white"></i>
                </a>
                {% endif %}
            </div>
        </form>
                {{ ladybug_dump( auditform.sections ) }}

        <table class="table table-condensed table-hover cisco-audit-table">
            <thead>
                <tr>
                    <th width="20%">Title</th>
                    <th width="60%"></th>
                    <th width="5%">Weight</th>
                    <th width="5%">Flag</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
            {% for section in auditform.sections %}
                {% include 'CiscoSystemsAuditBundle:Section:_load.html.twig' %}
            {% else %}
                <tr class="warning-empty">
                    <td colspan="6">
                        <i class="icon-warning-sign"></i>
                        No section assigned to this form.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if edit == true %}
            {% include 'CiscoSystemsAuditBundle:Section:_ulist.html.twig' %}
        {% endif %}
    </div>
</div>
{% endblock %}