{# Widgets #}

{#

{% block form_widget %}
{% spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}



{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
    {% spaceless %}
    <div class="form-row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': attr}) }}
        {% debug attr %}
    </div>
    {% endspaceless %}
{% endblock field_row %}

{% block field_widget %}
    {% debug attr %}
        {% spaceless %}
            {% set type = type|default('text') %}
            <input class="form-{{ type }}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endspaceless %}
{% endblock field_widget %}
          
{% block form_label %}
    {{ parent() }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}            
#}  