{% block pagecontent %}
<tr class="cisco-audit-field-row">
    <td colspan="2">{{ field.title }}</td>
    <td>
    {% if field.section is empty %}
        <i>No Section assigned.</i>
    {% else %}
        {{ field.section }}
    {% endif %}
    </td>
    <td>{{ field.weight }}</td>
    <td>
    {% if field.fatal == 1 %}
        <i class="icon-check"/>
    {% else %}
        <i class="icon-check-empty"/>
    {% endif %}
    </td>
    <td>
        <div class="btn-group pull-right">
            <a class="btn btn-mini cisco-audit-field-view">
                <i class="icon-eye-open" title="View"></i>
            </a>
            <a class="btn btn-mini cisco-audit-field-view" data-field-id="{{ field.id }}"
                href="{{ path( 'cisco_auditformfield_edit', { 'id': field.id } ) }}"
                title="Edit">
                 <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-mini cisco-audit-field-delete" title="Delete"
                href="{{ path( 'cisco_auditformfield_delete', { 'id': field.id } ) }}">
                <i class="icon-trash"></i>
            </a>
        </div>        
    </td>
</tr>
<tr class="cisco-audit-desc-row">
    <td><i>Description: </i></td>
    <td colspan="5">{{ field.description }}</td>
</tr>
<tr class="cisco-audit-desc-row">
    <td><i>Scores: </i></td>
    <td colspan="5">
    {% for score, label in field.scores %}
        <div>
            {{ score }}: {{ label }}
        </div>
    {% else %}
        <div>No scores defined</div>
    {% endfor %}
    </td>
</tr>
{% endblock %}
