{% block pagecontent %}
<tr class="cisco-audit-field-row">
    <td colspan="2">{{ field.title }}</td>
    <td>
    {% if field.section is empty %}
        <i>No Section assigned.</i>
    {% else %}
        {{ field.section }}
    {% endif %}
    </td>
    <td>{{ field.weight }}</td>
    <td>
    {% if field.flag == 1 %}
        <i class="icon-check" title="{{ get_trigger( field ) }}"/>
    {% else %}
        <i class="icon-check-empty"/>
    {% endif %}
    </td>
    <td width=20% style="white-space: nowrap;">
        <div class="btn-group pull-right cisco-audit-options">
            <a class="btn btn-mini cisco-audit-field-view">
                <i class="icon-eye-open" title="View"></i>
            </a>
            <a class="btn btn-mini cisco-audit-field-edit" data-field-id="{{ field.id }}"
                href="{{ path( 'cisco_auditfield_edit', { 'field_id': field.id } ) }}"
                title="Edit">
                 <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-mini cisco-audit-field-delete" title="Delete"
                href="{{ path( 'cisco_auditfield_delete', { 'field_id': field.id } ) }}">
                <i class="icon-trash"></i>
            </a>
        </div>
    </td>
</tr>
<tr class="cisco-audit-desc-row info" style="display: none;">
    <td>
        <div class="text-info">
            <i>Description: </i>
        </div>
    </td>
    <td colspan="5">
        <div class="text-info info">
            {{ field.description }}
        </div>
    </td>
</tr>
<tr class="cisco-audit-desc-row info" style="display: none;">
    <td style="padding-left: 50px;">
        <div class="text-info"><i>Scores: </i></div>
    </td>
    <td colspan="5">
        <div class="info">
        {% for score, label in field.scores %}
            <div class="text-info">
                {{ score }}: {{ label }}
            </div>
        {% else %}
            <div>No scores defined</div>
        {% endfor %}
        </div>
    </td>
</tr>
{% endblock %}
