{% extends 'CiscoSystemsAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="span8 offset2">
        <legend>
            Existing Fields
            <a class="btn btn-mini pull-right"
               href="{{ path( 'cisco_auditformfield_add' ) }}">
                <i class="icon-plus"></i> Add a new field
            </a>
        </legend>
        <table class="table table-condensed table-hover">
            <caption>List of existing fields</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Weight</th>
                    <th>Fatal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for field in fields %}
                    <tr class="cisco-audit-field-row" title="{{ field.description }}">
                        <td>{{ field.title }}</td>
                        <td>{{ field.section }}</td>
                        <td>{{ field.weight }}</td>
                        <td>
                        {% if field.fatal == 1 %}
                            <div>Yes</div>
                        {% else %}
                            <div>No</div>
                        {% endif %}
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a class="btn btn-mini cisco-audit-field-view" rel="#overlay"
                                   href="{{ path( 'cisco_auditformfield_view', { 'id': field.id } ) }}">
                                    <i class="icon-eye-open"></i> View
                                </a>
                                </li>
                                <noscript>
                                    <a class="btn btn-mini"
                                        href="{{ path( 'cisco_auditformfield_edit', { 'id': field.id } ) }}">
                                        <i class="icon-wrench"></i> Edit
                                    </a>
                                    <a class="btn btn-mini"
                                        href="{{ path( 'cisco_auditformfield_delete', { 'id': field.id } ) }}">
                                        <i class="icon-trash"></i> Delete
                                    </a>
                                </noscript>
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="cisco-audit-field-edit" data-field-id="{{ field.id }}"
                                            href="{{ path( 'cisco_auditformfield_edit', { 'id': field.id } ) }}">
                                            <i class="icon-wrench"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cisco-audit-field-delete" data-field-id="{{ field.id }}"
                                            href="{{ path( 'cisco_auditformfield_delete', { 'id': field.id } ) }}">
                                            <i class="icon-trash"></i> Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" align="center">no fields yet</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{#
<script type="text/javascript">
//$('.audit-section-row').next('.audit-form-field').css('background-color', 'yellow');
//$('.audit-section-row').next('.audit-section-row').prev().css('background-color', 'red');


$( function()
{
    // View Field
    // load up load_view.html.twig in a modal box
    //$( '.cisco-audit-field-view' ).click( function()
    $( '.cisco-audit-field-view' ).overlay(
    {
        var url = $( this ).attr( 'href' );
        $.ajax(
        {
            url: url,
            type: "POST",
            success: function( response )
            {
                onBeforeLoad: function() {

                    // grab wrapper element inside content
                    var wrap = this.getOverlay().find(".contentWrap");

                    // load the page specified in the trigger
                    wrap.load( response );
                }
            }
            error: function( response )
            {
                console.log( 'can not do it .....' );
            }
        });       
        return false;
    });
});
</script>
#}
{% endblock %}
