{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
    <table id="audit">
        <thead>
            <tr>
                <th colspan="11">Listing of existing Fields</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
                <tr>
                    <td class="wgaudit-label">Title: </td>
                    <td class="wgaudit-field">{{ field.title }}</td>
                    <td class="wgaudit-label">Section: </td>
                    <td class="wgaudit-field">{{ field.section }}</td>
                    <td class="wgaudit-label">Weight: </td>
                    <td>{{ field.weight }}</td>
                    <td class="wgaudit-label">Fatal: </td>
                    <td>{% if field.fatal == 1 %}
                            <div>Yes</div>
                        {% else %}
                            <div>No</div>
                        {% endif %}
                    </td>
                    <td>[ <a href="{{ path( 'wgauditformfield_view', { 'id': field.id } ) }}">view</a> ]</td>
                    <td>[ <a href="{{ path( 'wgauditformfield_edit', { 'id': field.id } ) }}">edit</a> ]</td>
                    <td>[ <a href="{{ path( 'wgauditformfield_remove', { 'id': field.id } ) }}">delete</a> ]</td>
                </tr>
                <tr>
                    <td class="wgaudit-label">Description: </td>
                    <td colspan="10" class="wgaudit-field">{{ field.description }}</td>
                </tr>
                <tr>
                    <td class="wgaudit-label">Scores: </td>
                    <td colspan="10" class="wgaudit-field">{% for score, label in field.scores %}
                            <div>
                                {{ score }}: {{ label }}
                            </div>
                        {% else %}
                            <div>No scores defined</div>
                        {% endfor %}
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="9" align="center">no fields yet</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="11" align="center"><a href="{{ path( 'wgauditformfield_add' ) }}">Add a new field</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
