{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}

    <h2>Listing Existing Fields:</h2>

    <table id="audit">
        <thead>
            <tr>
                <th>Title</th>
                <th>Section</th>
                <th>Weight</th>
                <th>Description</th>
                <th>Scores</th>
                <th>Fatal</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
                <tr>
                    <td>{{ field.title }}</td>
                    <td>{{ field.section }}</td>
                    <td>{{ field.weight }}</td>
                    <td>{{ field.description }}</td>
                    <td>{% for score, label in field.scores %}
                            <div>
                                {{ score }}: {{ label }}
                            </div>
                        {% else %}
                            <div>No scores defined</div>
                        {% endfor %}
                    </td>
                    <td>{% if field.fatal == 1 %}
                            <div>Yes</div>
                        {% else %}
                            <div>No</div>                        
                        {% endif %}
                    </td>
                    <td>[ <a href="{{ path( 'wgauditformfield_view', { 'id': field.id } ) }}">view</a> ]</td>  
                    <td>[ <a href="{{ path( 'wgauditformfield_edit', { 'id': field.id } ) }}">edit</a> ]</td>
                    <td>[ <a href="{{ path( 'wgauditformfield_remove', { 'id': field.id } ) }}">delete</a> ]</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" align="center">no fields yet</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="9" align="center">
                        <a href="{{ path( 'wgauditformfield_add' ) }}">Add a new field</a>
                    </td>
                </tr>
        </tbody>
    </table>
        
{% endblock %}
