{% extends 'WGAuditBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <h3>Field view</h3>
    <table class="table table-condensed table-hover">
        <caption>Field ID number: {{ field.id }}</caption>
        <tbody>
            <tr>
                <td>Title</td>
                <td>{{ field.title }}</td>
                <td>Section</td>
                <td>{{ field.section }}</td>
                <td>Weight</td>
                <td>{{ field.weight }}</td>
                <td>Fatal</td>
                <td>{% if field.fatal == 1 %}
                        <div>Yes</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="7">{{ field.description }}</td>
            </tr>
            <tr>
                <td>Scores: </td>
                <td colspan="7">{% for score, label in field.scores %}
                        <div>
                            {{ score }}: {{ label }}
                        </div>
                    {% else %}
                        <div>No scores defined</div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
